<p>
    product-detail Page!
  </p>
<div *ngIf="product">
  
  <p>{{product.name}}</p>
  <p>{{product.description}}</p>
  <p>{{product.price | currency}}</p>
</div>

<button (click)="addProduct()">Buy</button>