<h2>Products</h2>


<div *ngFor="let product of products; index as productId">
  <p >
    <a [title]="product.name + ' detail'" [routerLink]="['/products', productId]">{{product.name}}
    </a>
  </p>
  <p *ngIf="product.description">
    Description: {{product.description}}
  </p>

  <button (click)="share()">share</button>

  <app-product-alert
     [product]="product"
     (notify)="onNotify()">
  </app-product-alert>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->